.section-header {
  margin: 5px 0 5px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
}

.section-details .title {
  font-weight: bold;
}

.section-details .years {
  margin-top: 0.1em;
  text-align: right;
}

.company-years {
  text-align: right;
  font-size: 1.1em;
}

.section-details {
  font-style: italic;
  margin-bottom: 1.6em;
}

.company {
  font-weight: bold;
  font-style: normal;
  font-size: 1.1em;
}

.description {
  font-style: normal;
}

.summary {
  font-style: normal;
}

.role-summary {
  font-style: normal;
  margin-bottom: 0.1em;
}
ul {
margin-bottom: 0.0em;
}

.role {
  margin-top: 0.1em;
  font-weight: bold;
  font-style: italic;
}


h1 {
  font-size: 2.0em;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}
